{% load static %}
<link rel="stylesheet" href="{% static 'styles/header.css' %}">


<header class="header">
    <div class="header-text">
        <button class="title" onclick="document.location.href = '/';">
            &lt;atomtables&gt;
        </button>
    </div>
    <div class="right-selectors">
        <button class="header-button" onclick="document.location.href = '/friend/list'">Friend List</button>
        <padder class="padding-space"></padder>
        <button class="header-button" onclick="document.location.href = '/chatting/main'">Chat</button>
        <padder class="padding-space"></padder>
        {% if user.is_authenticated %}
            <!-- the user is considered to be logged in?-->
            <div class="title header-button" style="display: inline-flex;" id="userInfo" onclick="dropdownOnClick()">
                <img class="user-pfp" src="{{ user.profile.profile_picture.url }}" alt="avatar">
                <padder class="padding-space"></padder>
                <div class="user_container">
                    <div class="user_firstname">{{ user.first_name }}</div>
                    {{ user.last_name }}
                </div>
                <padder class="padding-space to-disappear"></padder>
                <div class="dropdown-content">
                    <padder class="padding-space"></padder>
                    <a class="header-button dropdown-link" href="/account/settings">Settings</a>
                    <padder class="padding-space"></padder>
                    <a class="header-button dropdown-link" href="/account/logout">Log Out</a>
                    <padder class="padding-space"></padder>
                    <a class="header-button dropdown-link" href="#">Link 3</a>
                </div>
            </div>
        {% else %}
            <div class="title header-button" style="display: inline-flex;" id="userInfo">
                <img class="user-pfp" src="{% static "img/user_pfp.webp" %}" alt="avatar">
                <padder class="padding-space"></padder>
                <div class="user_container">
                    <div class="user_firstname"><a href="/account/login?next={{ request.path }}" class="user_links">Sign
                        in</a></div>
                    or <a href="/account/register?next={{ request.path }}" class="user_links">register</a>
                </div>
            </div>
        {% endif %}

    </div>
</header>

<script src="{% static 'scripts/header_dropdown.js' %}"></script>

{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %} >
            {{ message }}
        </div>
    {% endfor %}
{% endif %}