{% extends "global/containers/friend_account.html" %}

{% block set_active_change_bio %} active {% endblock %}

{% block main %}

    <main class="content">
        <div class="content-name">
            Change Bio
        </div>
        <form method="POST" class="content-centered">
            <br>
            {% csrf_token %}
            <div class="content-heading">
                Bio:
            </div>
            <div class="input">
                {{ form.bio.errors }}
                {{ form.bio }}
            </div>
            <button class="button" type="submit">Set Bio</button>
        </form>
    </main>

{% endblock %}