{% extends "global/base.html" %}

{% block content %}

    <card class="main">
        <div class="main-text">
            Change Bio:
        </div>
        <form method="POST">
            <br>
            {% csrf_token %}
            <div class="card-p-text"> <!--style="display: flex; justify-content: space-evenly"-->
                {% csrf_token %}
                <div class="card-p-text">
                    Bio:
                </div>
                <div class="card-input">
                    {{ form.bio.errors }}
                    {{ form.bio }}
                </div>
            </div>
            <div class="card-button-group">
                <button class="card-button" type="submit">Set Bio</button>
            </div>
        </form>
    </card>

{% endblock %}