{% extends "global/base.html" %}

{% block content %}

    <card class="main">
        <div class="hero-main-text">
            Change Email Address:
        </div>
        <form method="POST">
            <br>
            {% csrf_token %}
            <div class="hero-inner-text" style="display: flex; justify-content: space-evenly">
                {% csrf_token %}
                <div class="hero-inner-text">
                    Old Email: {{ user.email }}
                </div>
                <div class="hero-input">
                    {{ form.email.errors }}
                    Email: {{ form.email }}
                </div>
            </div>
            <div class="hero-button-group">
                <button class="hero-button" type="submit">Set Email</button>
            </div>
        </form>
    </card>

{% endblock %}