{% extends "global/base.html" %}

{% block content %}

    <card class="main">
        <div class="hero-main-text">
            Change Password:
        </div>
        <form method="POST">
            <br>
            {% csrf_token %}
            <div class="hero-inner-text" style="display: flex; justify-content: space-evenly">
                {% csrf_token %}
                <div class="hero-input">
                    {{ form.old_password.errors }}
                    Old Password: {{ form.old_password }}
                </div>
                <div class="hero-input">
                    {{ form.new_password1.errors }}
                    New Password: {{ form.new_password1 }}
                </div>
                <div class="hero-input">
                    {{ form.new_password2.errors }}
                    Confirmation: {{ form.new_password2 }}
                </div>
            </div>
            <div class="hero-button-group">
                <button class="hero-button" type="submit">Set Password</button>
            </div>
        </form>
    </card>

{% endblock %}