{% extends "global/containers/friend_account.html" %}

{% block main %}

    <main class="content">
        <div class="content-name">
            Change Profile Picture
        </div>
        <form method="POST" enctype="multipart/form-data" class="content-centered">
            <br>
            {% csrf_token %}
            <div class="content-heading">Profile Picture:</div>
            <br>
            Old PFP: <img src="{{ user.profile.profile_picture.url }}" class="profile-picture" alt="Profile Picture" width="100" height="100">
            <div class="input">
                {{ form.profile_picture.errors }}
                Profile Picture: {{ form.profile_picture }}
            </div>
            <button class="button" type="submit">Set PFP</button>
        </form>
    </main>

{% endblock %}