{% extends "global/base.html" %}

{% block content %}
    
    <container class="main">
        <!--<sidebar class="sidebar">
            <div class="sidebar-heading bottom-spacing">
                <a href="/">&lt;-- Back Home</a>
            </div>
            {% if user.is_authenticated %}
                <div class="sidebar-heading">
                    Profile
                </div>
                <div class="sidebar-detail" {% block set_active_change_bio %} {% endblock %}>
                    <a href="/friend/list">Change Bio</a>
                </div>
                <div class="sidebar-detail" {% block set_active_change_profile_picture %} {% endblock %}>
                    <a href="/friend/user/me">Change Profile Picture</a>
                </div>
                <div class="bottom-spacing"></div>
            {% endif %}
            <div class="sidebar-heading">
                Account
            </div>
            {% if user.is_authenticated %}
                <div class="sidebar-detail" {% block set_active_change_name %} {% endblock %}>
                    Change Name
                </div>
                <div class="sidebar-detail" {% block set_active_change_username %} {% endblock %}>
                    Change Username
                </div>
                <div class="sidebar-detail" {% block set_active_change_password %} {% endblock %}>
                    Change Password
                </div>
                <div class="sidebar-detail" {% block set_active_delete_account %} {% endblock %}>
                    Delete Account
                </div>
            {% else %}
                <div class="sidebar-detail" {% block set_active_login %} {% endblock %}>
                    <a href="/account/login">Login</a>
                </div>
                <div class="sidebar-detail" {% block set_active_register %} {% endblock %}>
                    <a href="/account/register">Register</a>
                </div>
            {% endif %}
        </sidebar>-->
        {% block main %}
        {% endblock %}
    </container>

{% endblock %}