{% extends "global/base.html" %}

{% block content %}
    <card class="main">
        <div style="display:flex; justify-content: space-between; padding: 10px;">
            <div class="main-text" style="font-size: x-large">Login to your user {{ login_errors }}</div>
            <div class="card-button-group">
                <a href="/account/register" class="card-button">Register</a>
                <a href="/account/password_reset" class="card-button">Forgot Password</a>
            </div>
        </div>
        <form method="POST">
            <br>
            {% csrf_token %}
            <div class="card-p-text" style="display: flex;">
                <div class="card-input">
                    Username: {{ login_form.username }}
                </div>
                <div class="card-input">
                    Password: {{ login_form.password }}
                </div>
                <div class="card-button-group">
                    <button class="card-button" type="submit">
                        Login
                    </button>
                </div>
            </div>
            <div class="card-p-text">
            </div>
        </form>
    </card>

    <!--Register-->

{% endblock %}
