{% extends "global/base.html" %}

{% block content %}

    <card class="main" style="width: 55%;">
        <div class="main-text">
            User Settings:
        </div>
        <div class="card-p-text">
            <div class="card-button-group" style="display: flex; align-content: space-evenly; ">
                <button class="card-button" style="flex: 1; margin: 10px;" onclick="document.location.href = '/account/settings/password-change'">
                    Change Password
                </button>
                <button class="card-button" style="flex: 1; margin: 10px;" onclick="document.location.href = '/account/settings/email-change'">
                    Change Email
                </button>
                <button class="card-button" style="flex: 1; margin: 10px;" onclick="document.location.href = '/account/settings/bio-change'">
                    Change Bio
                </button>
                <button class="card-button" style="flex: 1; margin: 10px;" onclick="document.location.href = '/account/settings/pfp-change'">
                    Change Picture
                </button>
                <button class="card-button" style="flex: 1; margin: 10px;" onclick="document.location.href = '/account/settings/name-change'">
                    Change Name
                </button>
            </div>
        </div>
    <div class="card-p-text">
        You cannot change your username without terminating your account.
        Please talk to atomtables to have your account terminated.
    </div>
    </card>

{% endblock %}