.main {
    background: linear-gradient(135deg, rgba(20, 40, 20, 0.9), rgba(20, 40, 40, 0.9));
    color: rgb(255, 255, 255);
    width: 50%;
    display: block;
    margin: 50px auto auto;
    padding: 15px;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .main {
        width: 75%;
    }
}

.main-text {
    font-size: xx-large;
    color: white;
    text-align: center;

}

.card-p-text {
    color: white;
    text-align: center;
    padding: 10px 10px 15px;
}

.card-button {
    text-align: center;
    font-size: 16px;
    transition-duration: 0.1s;
    background-color: rgb(20, 70, 20);
    color: white;
    border: none;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    border-radius: 10px;
}

.card-button:hover {
    background-color: rgb(40, 90, 40);
}

.card-button:active {
    background-color: rgb(60, 110, 60);
}

.card-button-group {
    text-align: center;
}

/* input type text  */
input[type=text], input[type=email], input[type=password] {
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(20, 70, 20);
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
}

input[type=file] {
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid rgb(20, 70, 20);
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
}

textarea[type=large-text] {
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(20, 70, 20);
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 16px;
    display: inline-block;
    resize: vertical; /* Allow vertical resizing */
    max-height: 300px;
    overflow: visible;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 300px;
}

.card-input {
    flex: 1
}

.card-input:first-child {
    margin-right: 20px;
}

img.pfp {
    display: inline-block;
    height: 128px;
    width: 128px;
    object-fit: cover;
    border-radius: 20px;
}
