a {
    color: white;
    text-decoration: none;
}

.header-button {
    text-align: center;
    font-size: 16px;
    transition-duration: 0.25s;
    background-color: rgb(20, 20, 20);
    color: white;
    border: none;
    font-family: 'Inter', sans-serif;
    padding: 8px;
    border-radius: 8px;
}

.header-button:hover {
    background-color: rgb(40, 40, 40);
}

.header-button:active {
    background-color: rgb(60, 60, 60);
}

.header-button-active {
    background-color: rgb(60, 60, 60) !important;
}

.title {
    font-weight: 500;
    font-size: 3ex;
    color: white;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(37, 50, 37);
    border: none;
    font-family: 'Inter', sans-serif;
    height: 100%;
    text-align: left;
}

.right-selectors {
    margin: auto 0;
    height: 75%;
}

.right-selectors.hide {
    animation: slideOutAnimation 0.5s forwards;
}

.right-selectors.show {
    animation: slideInAnimation 0.5s forwards;
}

img.me {
    display: inline-block;
    height: 1em;
}

.header-text {
    vertical-align: middle;
}

.header {
    background-color: rgb(37, 50, 37);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
}

padder.padding-space {
    padding: 5px;
}

img.user-pfp {
    display: inline-block;
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 100%;
}

.user_container {
    display: inline-block;
    font-size: 16px;
}

.user_firstname {
    font-size: 24px;
    line-break: strict;
}

.user_links {
    color: white;
    text-underline-style: dash;
}

.dropdown-content {
    display: none;
}

.dropdown-content.show {
    display: inline-flex;
    border-left: 2px solid;
}

.padding-space.to-disappear {
    display: none;
}

.padding-space.to-disappear.show {
    display: inline-block;
}

.dropdown-link {
    margin: auto 0;
}

@keyframes slideInAnimation {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutAnimation {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}