{% extends "global/base.html" %}

{% block content %}

    <card class="main">
        <div class="main-text">
            Reset Password
        </div>
        <form method="POST">
            <br>
            {% csrf_token %}
            <div class="card-p-text">
                Forgotten your password? Enter your email address below,
                and we'll email instructions for setting a new one.
            </div>
            <div class="card-p-text" style="display: flex; justify-content: space-evenly">
                {% csrf_token %}
                <div class="card-input">
                    Email: {{ password_reset_form.email }}
                </div>
            </div>
            <div class="card-button-group">
                <button class="card-button" type="submit">Reset Password</button>
            </div>
        </form>
    </card>

{% endblock %}