{% extends "global/base.html" %}

{% block content %}

    <!--Password Reset Complete-->
    <card class="main">
        <div class="main-text">
            Reset Password
        </div>
        <div class="card-p-text">
            Your password has been reset successfully. You can now log in with your new password.
        </div>
        <div class="card-button-group">
            <button class="card-button">
                <a onclick="window.location.href = '/account/login';">Log In</a>
            </button>
        </div>
    </card>

{% endblock %}