{% extends 'global/base.html' %}


{% block content %}

	<card class="main">
        <div class="main-text">
            Reset Password
        </div>
        <div class="card-p-text">
            We've emailed you instructions for setting your password,
            if an account exists with the email you entered. You should receive them shortly.
            <br>
            If you don't receive an email, please make sure you've entered the
            address you registered with, and check your spam folder.
        </div>
    </card>

{% endblock %}