{% extends "global/base.html" %}

{% block content %}

    <card class="main">
        <div class="main-text">
            Reset Password
        </div>
        <form method="POST">
            <br>
            {% csrf_token %}
            <div class="card-p-text" style="display: flex;">
                {% csrf_token %}
                <div class="card-p-text">
                    Please enter your new password.
                    Requirements for your password:
                    <ul>
                        <li>Your password can’t be too similar to your other info.</li>
                        <li>Your password must be longer than 8 characters.</li>
                        <li>Your password can’t be common.</li>
                    </ul>
                </div>
                <div class="card-input">
                    Password: {{ form.new_password1 }}
                </div>
                <div class="card-input">
                    Confirmation: {{ form.new_password2 }}
                </div>
                <div class="card-button-group">
                    <button class="card-button" type="submit">
                        Reset your Password
                    </button>
                </div>
            </div>
        </form>
    </card>

{% endblock %}