{% extends "global/base.html" %}
{% load static %}
{% block content %}
    <card class="main">
        <div class="main-text">
            Hi! My name is atomtables!
        </div>
        <div class="card-p-text">
            My name is Adithiya Venkatakrishnan, or atomtables. I am a 13-yo developer learning Python, basic CSS, and
            Java
            in my journey of learning code. Check out some of my projects, or some of my skills I want to learn!
        </div>
        <div class="card-button-group">
            <button class="card-button">
                AtomChat
            </button>
            <button class="card-button">
                My other projects
            </button>
        </div>
    </card>
{% endblock %}
